<div class="print-w">
    <div class="print-logo-w">
        <div><f:cObject typoscriptObjectPath="lib.logo" /></div>
        <div>http://www.salmathechef.com</div>
    </div>
</div>       
<div class="os-container top-profile-links-box-container">
    <div class="top-profile-links-box-w">
        <div class="top-profile-links-box" style="background-color: #000000">
            <ul>
                <f:cObject typoscriptObjectPath="lib.engHome" />
                <f:cObject typoscriptObjectPath="lib.bengHome" />
            </ul>
        </div>
    </div>
</div>